:root {
  --primary-color: #1c7168;
  --secondary-color: #f5f2fe;
  --terciary-color: #09342f;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin: 60px auto;
  max-width: 1920px;
}

.container {
  max-width: 1320px;
}

.hero {
  padding-top: 80px;
}

h1,
h2,
h3 {
  text-align: center;
}

h1 {
  font-size: 86px !important;
  margin: 0px !important;
}

h2 {
  font-size: 48px !important;
  margin-top: 100px !important;
}

h3 {
  opacity: 0.7;
  font-size: 24px !important;
}

p {
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

.navigation-links {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  margin-bottom: 20px;
}

.navigation-links a {
  margin: 10px;
  border-radius: 4px;
  padding: 10px 10px;
  text-decoration: none;
  text-transform: capitalize;
}

.button-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.button-link:hover {
  text-decoration: none;
  background: var(--secondary-color);
  box-shadow: var(--box-shadow);
  color: black;
  transition: all 100ms ease-in;
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.text-center {
  text-align: center;
}

.row {
  flex-wrap: wrap;
  display: flex;
  box-sizing: border-box;
}

h1.about-me {
  margin-top: 45px !important;
  padding-top: 60px;
}
